.soulbuttons {
    display: inline-block;
    padding: 10px 15px;
    border: 3px solid;
    text-decoration: none;
    opacity: 0.9;
    transition: all 0.3s;
    font-weight: 600;
    text-align: center;
}


.soulbuttons:hover {
  opacity:1;
  -webkit-filter:brightness(110%);
  filter:brightness(110%);

}

.soulbuttons-rounded {
  border-radius:10px;
}


/* disable Twenty Sixteen persistent hover effects */
.entry-content a.soulbuttons{
  box-shadow: none;
}
/* disable Twenty Seventeen persistent hover effects */
.entry-content a.soulbuttons:hover{
  box-shadow: none;
}



/* dashicons compatibility */
.soulbuttons .dashicons {
  display: inline-block;
  /*line-height: inherit;*/
  font-style: inherit;
  height: inherit;
  font-weight: inherit;
  vertical-align: middle;
  font-size: inherit;
}

.soulbuttons .dashicons::before {
  display: inline-block;
  vertical-align: bottom;
}

/* icon styles */
.soulbuttons-icon-before {
  margin-right: 1em;
}
/*
.soulbuttons-icon-after {
  margin-left: 1em;
}
*/

/* hover animations */

.soulbuttons .soulbuttons-icon {
  position:relative;
  transition: all 0.3s;
}

.soulbuttons-hover-icon-left .soulbuttons-icon {
  left:0;
}
.soulbuttons-hover-icon-left:hover .soulbuttons-icon {
  left:0.5em;
}

.soulbuttons-hover-icon-right .soulbuttons-icon {
  right:0;
}
.soulbuttons-hover-icon-right:hover .soulbuttons-icon {
  right:0.5em;
}

.soulbuttons-hover-icon-top .soulbuttons-icon {
  top:0;
}
.soulbuttons-hover-icon-top:hover .soulbuttons-icon {
  top:0.5em;
}

.soulbuttons-hover-icon-bottom .soulbuttons-icon {
  bottom:0;
}
.soulbuttons-hover-icon-bottom:hover .soulbuttons-icon {
  bottom:0.5em;
}

.soulbuttons-hover-underline:hover {
  text-decoration: underline;
}




/* text alignment */

.soulbuttons-align-left {
  text-align: left;
}
.soulbuttons-align-right {
  text-align: right;
}
