.closebutton {
    position: relative;
    right: 0;
    padding: 0rem;
    color: white;
    width: 100%;
    text-align: right;
    height: 40px;
    text-align: right;
    padding: 0 15px;
    line-height: 40px;
    background: rgba(255, 255, 255, 0.05);
    z-index: 1;
    cursor: pointer;
    font-size: 30px;
    line-height: 35px;
}

.soulbuttons-open .ss-subsection{
	overflow-y:auto;
	-webkit-overflow-scrolling: touch;
}

.soulbuttons-modal-open{
	overflow:hidden;
}

.soulbuttons {
    display: inline-block;
    padding: 10px 15px;
    border: 3px solid;
    text-decoration: none;
    opacity: 0.9;
    transition: all 0.3s;
/*     font-weight: 600; */
    text-align: center;
    line-height: 1;
}

/* EDD 'Add to Cart' Text Styling */
.soulbuttons.edd-dark-bg + .edd-cart-ajax-alert .edd-cart-added-alert{
	color:#fff;
}

.soulbuttons:hover {
  opacity:1;
  -webkit-filter:brightness(110%);
  filter:brightness(110%);

}

.soulbuttons-rounded {
  border-radius:10px;
}


/* disable Twenty Sixteen persistent hover effects */
.entry-content a.soulbuttons{
  box-shadow: none;
}
/* disable Twenty Seventeen persistent hover effects */
.entry-content a.soulbuttons:hover{
  box-shadow: none;
}



/* dashicons compatibility */
.soulbuttons .dashicons {
  display: inline-block;
  /*line-height: inherit;*/
  font-style: inherit;
  height: inherit;
  font-weight: inherit;
  vertical-align: middle;
  font-size: inherit;
  font-size:80%;
}

.soulbuttons .dashicons::before {
  display: inline-block;
  vertical-align: bottom;
}

/* icon styles */
/*
.soulbuttons-icon-before {
  margin-right: 1em;
}
*/
/*
.soulbuttons-icon-after {
  margin-left: 1em;
}
*/


/* hover animations */

.soulbuttons .soulbuttons-icon {
  position:relative;
  transition: all 0.3s;
      margin: 0 .25rem;

}

.soulbuttons-hover-icon-right .soulbuttons-icon {
  left:0;
}
.soulbuttons-hover-icon-right:hover .soulbuttons-icon {
  left:0.25rem;
}

.soulbuttons-hover-icon-left .soulbuttons-icon {
  right:0;
}
.soulbuttons-hover-icon-left:hover .soulbuttons-icon {
  right:0.25rem;
}

.soulbuttons-hover-icon-down .soulbuttons-icon {
  top:0;
}
.soulbuttons-hover-icon-down:hover .soulbuttons-icon {
  top:0.25rem;
}

.soulbuttons-hover-icon-up .soulbuttons-icon {
  bottom:0;
}
.soulbuttons-hover-icon-up:hover .soulbuttons-icon {
  bottom:0.25rem;
}

.soulbuttons-hover-underline:hover {
  text-decoration: underline;
}




/* text alignment */

.soulbuttons-align-left {
  text-align: left;
}
.soulbuttons-align-right {
  text-align: right;
}
